In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../raw_data/sample_individuals_ALL_v2.20130502.tsv', sep='\t')
df.head()

,Family ID,Individual ID,Paternal ID,Maternal ID,Gender,Phenotype,Population,Relationship,Siblings,Second Order,Third Order,Children,Other Comments,phase 3 genotypes,related genotypes,omni genotypes,affy_genotypes
0,HG00096,HG00096,0,0,1,0,GBR,unrel,0,0,0,0,0,1,0,1,1
1,HG00097,HG00097,0,0,2,0,GBR,unrel,0,0,0,0,0,1,0,1,1
2,HG00098,HG00098,0,0,1,0,GBR,unrel,0,0,0,0,0,0,0,1,1
3,HG00099,HG00099,0,0,2,0,GBR,unrel,0,0,0,0,0,1,0,1,1
4,HG00100,HG00100,0,0,2,0,GBR,unrel,0,0,0,0,0,1,0,1,1

In [3]:
(df['phase 3 genotypes']==1).sum()

2504